<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.ilightning.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".view.WidgetTutorialSettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.WidgetSettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.BatteryFinishActivity2"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.BatteryFinishActivity1"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.SavingActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.BatterySaverActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.SettingActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.CoolingDownActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.CoolerActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.CpuFinishActivity1"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.CpuFinishActivity2"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />

        <receiver
            android:name=".widget.WidgetCleanUp"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clean_up_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetCooler"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wideget_cooler_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetBatteryOptimize"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_battery_optimize_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetSpeedUp"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_speed_up_info" />
        </receiver>
        <receiver
            android:name=".widget.Widget_Full"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__full_info" />
        </receiver>

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>